<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;
/* background: url() no-repeat center center fixed #000; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.allowButton{
  background-color: #225C93;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {

  background-color: rgb(255, 0, 0);
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  margin: auto;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

</style>
</head>
<body>
<div class="row">
	<div class="col-md-12">
		<form action="http://3.110.94.182:3002/mobileapp/auth/reset_password/<%= token %>" method="POST">

		  <div class="imgcontainer">
    <img src='' alt="Nano NFC logo" width = '350px'/>
  </div>
<!-- <h2 align="center"><font color="Black">Makes Life Smart</h2></font> -->
<h3 align="center"><font color="Black">Reset Password</h3></font>

		  <div class="form-group">
		    <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Confirm Password</label>
		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Update Password</button>
		  </div>
		</form>
	</div>
</div>
</body>
</html>
